body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgb(98, 164, 202);
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.about {
    text-align: center;
    padding: 40px;
}

main h1,h2 {
    display: block;
    text-align: center;
    text-emphasis-style: bold;
    font-weight: 600;
    padding-top: 15px;
    text-decoration: underline;

}

#results {
    display: block;
    padding: 20px;
}
