<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a news article</title>
    </head>
    <body>
        <header>
            <div class="">
                Udacity
            </div>
            <div class="">
                News Article Project
            </div>
        </header>
        <main>
            <h1>AYLIEN API</h1>
            <p class="about">AYLIEN Text API is a package of Natural Language Processing, Information Retrieval and Machine Learning tools that allow developers to extract meaning and insights from documents with ease.</p>
            <h2>Try it out! Type in a "URL" to see what the Aylien NLP understands from it.</h2>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>
            <section>
                <h1>Form Results:</h1>
                <div id="results">
                    <p>Polarity: <span id="polarity"></span></p>
                    <p>Subjectivity: <span id="subjectivity"></span></p>
                    <p>Text: <span id="text"></span></p>
                    <p>Polarity-confidence: <span id="polarity_confidence"></span></p>
                    <p>Subjectivity-confidence: <span id="subjectivity_confidence"></span></p>
                </div>
            </section>
        </main>
        <footer>
            <p>Project created for Udacity Front End Developer program</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
